<div class="row mt-3">
  <h2>Список должностей</h2>
</div>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th> UUID</th>
    <th>Должность</th>
    <th>Примечание</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let post of posts">
    <td> {{ post.uuid }} </td>
    <td> {{ post.title }} </td>
    <td> {{ post.description }} </td>
    <td>
      <button (click)="postDetails(post.uuid)" class="btn btn-primary btn-sm">Просмотреть</button>
      <button (click)="updatePost(post)" class="btn btn-secondary btn-sm" style="margin-left: 10px">Изменить</button>
      <button (click)="deletePost(post.uuid)" class="btn btn-danger btn-sm" style="margin-left: 10px">Удалить</button>
    </td>
  </tr>
  </tbody>
</table>

<div>
  <button (click)="createPost()" class="btn btn-primary btn-sm">Добавить</button>
</div>
