<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center">Create Person</h3>
      <hr/>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label>First name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="person.firstName" name="firstName">
          </div>

          <div class="form-group">
            <label>Last name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="person.lastName" name="lastName">
          </div>

          <div class="form-group">
            <label>Patronymic</label>
            <input type="text" class="form-control" id="patronymic" [(ngModel)]="person.patronymic" name="patronymic">
          </div>

          <div class="form-group">
            <label>Age</label>
            <input type="text" class="form-control" id="age" [(ngModel)]="person.age" name="age">
          </div>

          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="person.description" name="description">
          </div>

          <br />
          <button class="btn btn-success" type="submit">Submit</button>

        </form>
      </div>
    </div>
  </div>
</div>
