<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center">Добавить персону</h3>
      <hr/>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #personForm="ngForm">

          <div class="form-group">
            <label>Фамилия</label>
            <input type="text" [(ngModel)]="person.lastName"
                   class="form-control"
                   id="lastName"
                   name="lastName"
                   required #lastName="ngModel">
          </div>
          <div [hidden]="!lastName.pristine" class="alert alert-danger">Поле является обязательным</div>

          <div class="form-group">
            <label>Имя</label>
            <input type="text" [(ngModel)]="person.firstName"
                   class="form-control"
                   id="firstName"
                   name="firstName"
                   required #firstName="ngModel">
          </div>
          <div [hidden]="!firstName.pristine" class="alert alert-danger">Поле является обязательным</div>

          <div class="form-group">
            <label>Отчество</label>
            <input type="text" [(ngModel)]="person.patronymic"
                   class="form-control"
                   id="patronymic"
                   name="patronymic"
                   required #patronymic="ngModel">
          </div>
          <div [hidden]="!patronymic.pristine" class="alert alert-danger">Поле является обязательным</div>

          <div class="form-group">
            <label>Возраст</label>
            <input type="text" class="form-control" id="age" [(ngModel)]="person.age" name="age">
          </div>

          <div class="form-group">
            <label>Примечание</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="person.description"
                   name="description">
          </div>

          <br/>
          <button type="submit" [disabled]="!personForm.form.valid"
                  class="btn btn-success">Добавить
          </button>

        </form>
      </div>
    </div>
  </div>
</div>
