<div class="mt-3">
  <h3>Детальная информация</h3>
  <div>
    <div>
      <label><b>UUID:</b></label> {{employee?.uuid}}
    </div>
    <div>
      <label><b>Персона:</b></label> {{employee?.person}}
    </div>
    <div>
      <label><b>Должность:</b></label> {{employee?.post}}
    </div>
    <div>
      <label><b>Зарегистрирован:</b></label> {{employee?.createdOn}}
    </div>
    <div>
      <label><b>Дата последнего изменения:</b></label> {{employee?.updatedOn}}
    </div>
    <div>
      <label><b>Находится в работе:</b></label> {{employee?.isWorking}}
    </div>
  </div>
</div>
